<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="assets/index.css" charset="utf-8">
    <script src="assets/util.js" charset="utf-8"></script>
    <script src="assets/slider.js" charset="utf-8"></script>
</head>
<body>
    <div id="container">
        <ul id="slides">
            <li>
              <h2>3</h2>
            </li>
            <li>
              <h2>1</h2>
            </li>
            <li>
              <h2>2</h2>
            </li>
            <li>
              <h2>3</h2>
            </li>
            <li>
              <h2>1</h2>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        const slider = new Slider("#slides");
        slider.tick();
    </script>
</body>
</html>
