<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style media="screen">
    html, body
    {
      padding: 0;
      margin: 0;
    }
    div#slider
    {
      width: 50px;
      height: 50px;
      left: 20px;
      top: 20px;
      position: relative;
      border: 1px solid gray;
      background-color: #44b549;
    }
  </style>
</head>
<body>
  <div id="slider"></div>
  <script src="drag.js" charset="utf-8"></script>
  <script>
    const slider = new Slider(document.getElementById('slider'), {
      max: 100,
      change: (value) => {  },
    });
  </script>

</body>
</html>
