html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#container {
    width: 200px;
    height: 300px;
    position: relative;
    margin: 50px auto;
}

input {
    width: 200px;
    height: 20px;
}

#suggestions {
  position: absolute;
  left: 0;
  top: 25px;
  width: 200px;
  max-height: 250px;
  overflow-y: scroll;
  list-style: none;
  z-index: 100;
}

#suggestions li a {
    text-decoration: none;
}

#suggestions li a span {
    background-color: cyan;
}

.selected {
  background: cyan;
}
