<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="modal.css">
</head>
<body>
  <h1>Modal example</h1>
  <div id="container"></div>
  <script src="modal.js" charset="utf-8"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      createModel({
        title: 'Title',
        message: 'Aloha!',
        parentSelector: '#container',
        callback: () => { console.log('modal closed') }
      });
    });
  </script>
</body>
</html>
