.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 50px;
}

.modal .modal-content {
  margin: auto;
  width: 400px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}

.modal .modal-content .modal-header {
  padding: 20px;
}

.modal .modal-content .modal-body {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.modal .modal-content .modal-footer {
  padding: 20px;
  text-align: right;
}

.modal .modal-content .modal-footer button {
}

button {
}
