<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style media="screen">
    #list li
    {
      display: block;
      list-style: none;
      height: 20px;
      line-height: 20px;
      background-color: steelBlue;
      margin: 2px;
    }
  </style>
</head>
<body>
  <button type="button" id="sort">sort</button>
  <ul id="list"/>
  <script type="text/javascript">
    const MAX_LI_NUM = 10;
    const MAX_LI_WIDTH = 200;
    // prepare ul
    const ul = document.getElementById("list");
    for (let i = 0; i < MAX_LI_NUM; i++) {
      const li = document.createElement("li");
      const number = Math.floor(Math.random() * MAX_LI_NUM) + 1;
      li.style.width = `${MAX_LI_WIDTH * number / MAX_LI_NUM}px`;
      li.innerHTML = number;
      ul.appendChild(li);
    }
    document.getElementById("sort").addEventListener("click", () => {
      const doms = document.querySelectorAll("#list > li");
      const arr = [].slice.apply(doms);
      // insertion sort
      function *sort() {
        for (let i = 1; i < arr.length; i++) {
          for (let j = i; j > 0 && parseInt(arr[j - 1].innerHTML) > parseInt(arr[j].innerHTML); j--) {
            const tmp = arr[j - 1];
            arr[j - 1] = arr[j];
            arr[j] = tmp;
            ul.insertBefore(arr[j - 1], arr[j]);
            yield;
          }
        }
      }
      const gen = sort();
      setInterval(() => {
        gen.next();
      }, 150);
    });
  </script>
</body>
</html>
